
.list-group {
	width: 600px;
	margin: 2rem auto;
}

.list-group .list-group-item {
	display: flex;
	align-items: center;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
}


.list-group-item .avatar-container {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 2rem;
}

.avatar-container .avatar-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.list-group-item .user-info {
	flex-grow: 1;

}
.list-group-item .username {
	color: var(--text-dark);
}

.list-group-item .nickname {
	font-weight: 500;
}

.list-group-item .actions {
	margin-left: auto;
}
.list-group-item .btn-primary {
	text-wrap: nowrap;
}


.list-group:last-child {
	border-bottom-right-radius: calc(.428rem - 1px);
	border-bottom-left-radius: calc(.428rem - 1px);
}

.list-group:first-child {
	border-top-left-radius: calc(.428rem - 1px);
	border-top-right-radius: calc(.428rem - 1px);
}
