/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
	--header-height: 3.5rem;
	
	/*========== Colors ==========*/
	--primary: #7367f0;
	--secondary: #82868b;
	/* Background Colors */
	--home-page-bg: #f8f8f8;
	/* Text Colors */
	--text-body: #6e6b7b;
	--text-muted: #b9b9c3;
	--text-dark: #2a2e30;
	
	--text-grey-60: #858FA1;
	--text-grey-100: #344563;
	--border-color: #d8d6de;
	--card-shadow: 0 4px 24px 0 rgba(34, 41, 47, .1);
	/*========== Font and typography ==========*/
	/*.5rem = 8px | 1rem = 16px ...*/

	
	/*========== Font weight ==========*/
	--font-regular: 400;
	--font-medium: 500;
	--font-semi-bold: 600;
	
}

/*=============== BASE ===============*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	background-color: var(--home-page-bg);
	scroll-behavior: smooth;
	height: 100%;
	font-size: 14px;
	letter-spacing: .01rem;
	line-height: 1.15;
}

/* Setup Default Font and Default color of text */
body {
	height: 100%;
	font-family: "Inter", Helvetica, Arial, sans-serif;
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.45;
	color: var(--text-body)
}
#root, main {
	height: 100%;
	
}


.h1,h1 {
	font-size: 2.64rem
}

.h2,h2 {
	font-size: 2.26248rem
}

.h3,h3 {
	font-size: 1.98rem
}

.h4,h4 {
	font-size: 1.69752rem
}

.h5,h5 {
	font-size: 1.518rem
}

.h6,h6 {
	font-size: 1.1rem
}

.lead {
	font-size: 1.254rem;
	font-weight: 400
}

.display-3 {
	font-size: 4.5rem;
	font-weight: 400;
	line-height: 1.2
}


ul {
	list-style: none;
}

a {
	color: var(--primary);
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.45;
}

/*img {*/
/*	display: block;*/
/*	max-width: 100%;*/
/*	height: auto;*/
/*}*/

/*=============== REUSABLE CSS CLASSES ===============*/
.page-container {
	height: calc(100vh - 90px);
	
}
.container {
	max-width: 960px;
	margin: 0 auto;
}

.grid {
	display: grid;
	gap: 1.5rem;
}


.main {
	overflow: hidden;
}

/* Text */
.title-1 {
	color: var(--text-grey-100);
	font-size: 24px;
	font-weight: 700;
}
.title-3 {
	color: var(--text-grey-60);
	font-size: 1rem;
}
.text-muted {
	color: var(--text-muted)
}

.text-secondary {
	color: var(--secondary);
}

.text-dark {
	color: var(--text-dark)
}

.text-body {
	color: var(--text-body);
}

.text-small {
	font-size: .857rem;
	font-weight: 400;
}

/* Reusable Components */
/* Button */
.btn {
	display: inline-block;
	text-align: center;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .786rem 1.5rem;
	border-radius: .358rem;
	font-weight: 500;
	font-size: 1.1rem;
	line-height: 1;
}

.btn-primary {
	background: var(--primary);
	color: white;
}

.btn-outline-primary {
	color: var(--primary);
	border: 1px solild var(--primary);
	background-color: transparent;
}

/* Card */
.card {
	background-color: white;
	box-shadow: var(--card-shadow);
	border-radius: .428rem;
	border: 1px solid rgba(34, 41, 47, .125);
}

.card-shadow {
	box-shadow: var(--card-shadow);
}


