/* Text Sizes */

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    line-height: 1.2;
    color: #2a2e30
}
.h1,h1 {
	font-size: 2.64rem
}

.h2,h2 {
	font-size: 2.26248rem
}

.h3,h3 {
	font-size: 1.98rem
}

.h4,h4 {
	font-size: 1.69752rem
}

.h5,h5 {
	font-size: 1.518rem
}

.h6,h6 {
	font-size: 1.1rem
}



/* Font Weight */
.font-weight-light {
	font-weight: 300;
}
.font-regular {
	font-weight: 400;
}
.font-medium {
	font-weight: 500;
}
.font-weight-bolder {
	font-weight: 600;
}
.font-semi-bold {
	font-weight: 600;
}
.font-bold {
	font-weight: 700;
}
/* Spacing Utilities*/
.text-center {
	text-align: center;
}





/* Text Utilities */

.display-1 {
	font-size: 4.5rem;
	font-weight: 700;
	line-height: 1.2
}
.display-2 {
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.2
}


.normal-text {
	font-size: 16px;
}

.lead {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.8;
}

.text-small {
	font-size: .875rem;
	font-weight: 400;
}


/* Text Colors */
.text-primary {
	color: #7367f0;
}



